.header_top{
    height:150px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex: 2;
}
.user_cont{
    float: right;
    flex: 1;
    margin-left:20px;
}
.wechat_num{
    float: left;
}
.span_title{
    width:80px;
}
.wechat_num_input{
    width: 140px;
    display: block;
    margin-bottom:3px;
    float: left;
}
.wechat_input{
    float: left;
    width: 80px;
}

.user_cont h3{
    margin-top: 20px;
    color: blue;
}
.list_user{
    height:30px;
}
.ant-btn{
    margin-top: 0!important;
}
.button_padding{
    padding: 0!important;
}
.ant-btn-primary{
    border-color:none!important;
}