.todo-ctn{
    width: 80%;
    height: 100%;
    margin-left:10%;
    background: #f9f8eb;
}
.ant-tabs-bar{
    margin: 0 !important;
}
.recivewDiv{
    height: 500px; 
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
.commentList{
    height: 500px;
    overflow:auto;
}
.comments_list{
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
    background: #757882;
    color: white;
    line-height: 50px;
}
.tabTop{
    height:40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0
}
.myBack{
    float: left;
    margin-right:20px; 
}
.selectInput{
    float: left;
}
.contentDiv{
    height:60px;
    border-bottom:1px solid #e0e0e0;
}
.imgsAllShow{
    padding-bottom: 10px;
}
.imgsAllShow img{
    width: 18%;
}
.authorContent{
    float: left;
    margin-left: 5px;
}
.leftImg{
    height: 300px;
}
.imgDiv{
    border-bottom: 1px solid #e0e0e0;  
}

.commTime{
    float: right;
}
.homeworkContent span{
    margin-right: 10px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 300px;
    line-height: 300px;
    overflow: hidden;
}

.submitDiv { 
    height:100px;
}
.submitInput{
    float: left;
    width: 80%;
}
  
.commmentcontent{
    height: 100px;
    border-bottom: 1px solid #e0e0e0;
}

.my_comm_cont{
    height: 500px;
    border-right: 1px solid #e0e0e0;
}
.comment_content{
    float: left;
    width: 70%;
    overflow: hidden;
}
.button_back{
    float: right;
}

.content_all{
    margin-top: 20px;
}

.todo-ctn h2{
    padding: 20px 20px 0 20px;
}
.review-cate{
    padding: 10px;
    margin: 20px;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    display: flex;
}
.review-content{
    flex: 3;
}
.right-manage{
    flex: 1;
    cursor: pointer;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
